{%  extends 'base.html.twig' %}

{% block body  %}

    <div class="container flex center">
        <div class="connexion-container">

            <div id="jeu" class="shadow">
                Veuillez activer javascript pour jouer.
            </div>

        </div>
    </div>

{% endblock %}